<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">About News of News </h1>
    </div>
    <div class="panel-body">
        <p class="lead text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, tempore aut. Sunt nihil, quibusdam voluptatibus iste at quasi, suscipit distinctio natus eveniet vitae iure, architecto officiis? Ea sunt asperiores ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellendus nam commodi, ut provident totam est ipsum tempore illo! Nam libero ipsum velit praesentium dignissimos error autem dolore ad aliquid! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa est voluptatum animi voluptatibus iste quo praesentium doloremque. Veritatis perferendis voluptates unde asperiores consectetur aspernatur, rem doloremque nihil, adipisci voluptas exercitationem!
        </p>

        <p class="lead text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, tempore aut. Sunt nihil, quibusdam voluptatibus iste at quasi, suscipit distinctio natus eveniet vitae iure, architecto officiis? Ea sunt asperiores ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellendus nam commodi, ut provident totam est ipsum tempore illo! Nam libero ipsum velit praesentium dignissimos error autem dolore ad aliquid! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa est voluptatum animi voluptatibus iste quo praesentium doloremque. Veritatis perferendis voluptates unde asperiores consectetur aspernatur, rem doloremque nihil, adipisci voluptas exercitationem!
        </p>

        <p class="lead text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, tempore aut. Sunt nihil, quibusdam voluptatibus iste at quasi, suscipit distinctio natus eveniet vitae iure, architecto officiis? Ea sunt asperiores ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellendus nam commodi, ut provident totam est ipsum tempore illo! Nam libero ipsum velit praesentium dignissimos error autem dolore ad aliquid! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa est voluptatum animi voluptatibus iste quo praesentium doloremque. Veritatis perferendis voluptates unde asperiores consectetur aspernatur, rem doloremque nihil, adipisci voluptas exercitationem!
        </p>
    </div>
</div>