<section>
    <div class="row">    
        <div *ngFor="let a_new of news" class="card col-md-4" >
            <img class="card-img-top" [src]="a_new.imagePath" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-text">{{a_new.titulo}}</h3>
                <p class="text-justify" > {{a_new.previa}} </p>
                <p class="align-right"> <a href="#"> saiba mais </a> </p>
                <p> {{a_new.data}} </p>
            </div>
        </div>
    </div>  
</section>