<section>
    <h1> News of News </h1>

    <p>
        Because a news is not a news if it is not new.
    </p>


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img/template/card-template.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img/template/card-template.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img/template/card-template.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

        
</section>

